.header {
  height: 64px;
  width: 100%;
  position: sticky;
  top: 0;
  background: #28323b;
  display: flex;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  justify-content: center;
  color: #fff;
}

.button {
  height: 32px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: #28a085;
  cursor: pointer;
}
