.header {
  height: 64px;
  width: 100%;
  position: sticky;
  top: 0;
  background: #28323b;
  display: flex;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  justify-content: center;
  color: #fff;
}
